<div id="wrapper">

  <h1 id="title">Gun Burger!</h1>
  <img
    src="https://vignette.wikia.nocookie.net/spongebob/images/d/d4/Krabby_Patty_transparentpng.png/revision/latest/scale-to-width-down/350?cb=20170310181007"
    alt="">
  <div class="container">
    <div class="row">
      <div class="col-mid-4">
        <h3>Aimed and ready!</h3>
        <ul>
          {{#each burgers}}
          {{#if fired}}
          {{> burgers/burger-block fired=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
      <div class="col-mid-4">
        <h2>Lock and Load!</h2>
        <form class="create-form">

          <div class="form-group">
            <label for="ca">Your Weapon of choice:</label>
            <input type="text" id="ca" name="name">
          </div>

          <div class="form-group">
            <input type="radio" name="sleepy" class="circle" value="1" checked><br>
          </div>

          <button type="submit">Chamber the Cartridge!</button>
        </form>
      </div>
      <div class="col-mid-4">
        <h2>Fired!</h2>
        <ul>
          {{#each burgers}}
          {{#unless fired}}
          {{> burgers/burger-block sleep=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>