li {
  padding: 5px;
  margin: 5px;
  background: #a09c96;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.circle {
  display: none
}

.container {
  margin-top: 30px;
  background: rgb(32, 131, 62);
}

.title {
  text-align: center;
}

h2 {
  text-align: center
}

#wrapper {
  background: rgb(32, 131, 62);
}

body {
  background: rgb(32, 131, 62);
}